@charset "utf-8";
/* CSS Document */
body{ background-color: #FFB8B9;;}
.ssk{ background-color:#CDCDCD;
      width: 150px;
      height: 30px;
      border-radius: 10px 10px 10px 10px;
      border: 2px solid #51C0FF;
      font-family: 华文楷体;}
.ssk:hover{background-color: #FFFFFF;}
.ssk:focus {
    outline:none;
    border: 2px solid #51C0FF;}


.anniu{ background-color: #CDCDCD;
        border-radius:20%;
        width: 60px;
        height: 40px;
        border: 2px solid #51C0FF;
        color: #FFFFFF;
        font-weight: 600;
        cursor: pointer;}
.anniu:hover{background-color: #FFFFFF;
             color: #000000;}
.anniu:focus {
    outline:none;
    border: 2px solid #51C0FF;}

.aa{ margin: 0 auto;
     width: 230px;
     height: 80px;
     margin-top: 10px;}
.dhz{ width: 500px;
      height: 300px;
      background-color: #FFFFFF;
      border-radius: 20px 100px 20px 100px;
      border: 2px outset rgba(130,130,130,0.5);
      margin: 0 auto;}
.tx{ width: 90px;
     height: 90px;
     border-radius: 50%;
     margin: 0 auto;
     margin-top: 5px;
     background-image: url(../tp/tx.jpg);}
.p{ margin-left: 40px;}
.lx{ font-size: 10px;
	 margin-left: 210px;
     color: #B5B5B5;
     font-weight: 700;}
.lx1{ font-size: 10px;
	 margin-left: 10px;
     color:#434343;}







